.header {
  text-align: center;
}

.image {
  padding-left: 800px;
}

body {
  background-color: darkseagreen;
}

#text0 {
  font-size: 20px;
}

#text1 {
  display: none;
  font-size: 20px;
}

#text2 {
  display: none;
  font-size: 20px;
}

#text3 {
  display: none;
  font-size: 20px;
}

#text4 {
  display: none;
  font-size: 20px;
}

#text5 {
  display: none;
  font-size: 20px;
}

#text6 {
  display: none;
  font-size: 20px;
}

#text7 {
  display: none;
  font-size: 20px;
}
